{% extends "base.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="grid grid-cols-1 justify-items-center">
        <div class="grid grid-cols-2 gap-2 fields">
            <span>Name:</span>
            <span>{{ person.name }}</span>
            <span>National Id:</span>
            <span>{{ person.nationalId }}</span>
            <span>Age:</span>
            <span>{{ person.age }}</span>
            <span>Address:</span>
            <span>{{ person.address }}</span>
            <span>Notes:</span>
            <span>{{ person.notes }}</span>
        </div>
        <div class="mt-6">
            <a href="/logout" class="btn bg-green-400">Logout</a>
        </div>
    </div>
{% endblock %}
