{% extends "base.twig" %}

{% block title %}Edit{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="flex justify-center">
        <form action="/edit/{{ person.id }}" method="post">
            <div class="flex flex-col col-span-4 text-xl inputs">
                <label for="fist_name">First Name</label>
                <input type="text" id="fist_name" value="{{ person.firstName }}" disabled>
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" value="{{ person.lastName }}" disabled>
                <label for="nid">National Id</label>
                <input type="text" id="nid" value="{{ person.nationalId }}" disabled>
                <label for="age">Age</label>
                <input type="text" id="age" value="{{ person.age }}" disabled>
                <label for="address">Address</label>
                <input type="text" id="address" value="{{ person.address }}" disabled>
                <label for="notes">Notes</label>
                <input type="text" name="notes" id="notes" value="{{ person.notes }}">
            </div>
            <div class="flex justify-between items-center mt-4">
                <a href="/" class="btn-gray">Back</a>
                <input type="submit" class="btn-gray font-bold" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}
